/**
 * calendar calendar table styles
 */
.onelinecal-onelinecal tr.odd,.onelinecal-onelinecal tr.even {
	background-color: #fff;
}
.onelinecal-grouping {
	width: 100%;
}

.onelinecal-onelinecal table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 auto;
	padding: 0;
	width: 900px;  /* Setting at 100% causes problem in Internet Explorer. */
}

.onelinecal-onelinecal .month-view table {
	border: none;
	padding: 0;
	margin: 0;
	width: 900px;
}

.onelinecal-onelinecal tr {
	padding: 0;
	margin: 0;
	background-color: white;
}
/*
.onelinecal-onelinecal th {
	text-align: center;
	margin: 0;
}

.onelinecal-onelinecal th a {
	font-weight: bold;
}*/

.onelinecal-onelinecal td {
	/*width: 14%;*/
	border: 1px solid #ccc;
	color: #777;
	text-align: right;
	vertical-align: top;
	margin: 0;
	padding: 0;
}

.onelinecal-onelinecal .group {
	text-align: left;
} 

/**
 * IE6 does not support min-height, using Min-Height fast hack from http://www.dustindiaz.com/min-height-fast-hack
 */
.onelinecal-onelinecal .inner {
	height: auto !important;
	height: 5em;
	padding: 0;
	margin: 0;
}

.onelinecal-onelinecal .inner div {
	padding: 0;
	margin: 0;
}
/**
 * Make sure paragraphs buried in calendar cells use padding, not margins, for separation so the background color doesn't come through.
 */
.onelinecal-onelinecal .inner p {
	padding: 0 0 .8em 0;
	margin: 0;
}

.onelinecal-onelinecal td a {
	font-weight: bold;
	text-decoration: none;
}

.onelinecal-onelinecal td a:hover {
	text-decoration: underline;
}

.onelinecal-onelinecal td.month {
	text-align: center;
}

/**
 * format days of the week header cells

.onelinecal-onelinecal th.days {
	color: #ccc;
	background-color: #224;
	text-align: center;
	padding: 1px;
	padding: 0px;
	margin: 0px;
  background-color: #eee;
  color: #777;
  border: 1px solid #ccc;
} */

/**
 * floating day number div
 */
.onelinecal-onelinecal div.day {
	float: right;
	text-align: center;
	padding: 0.125em 0.25em 0 0.25em;
	margin: 0;
	background-color: #f3f3f3;
	border: 1px solid gray;
	border-width: 0 0 1px 1px;
	clear: both;
/*	width: 1.5em;*/
}

/**
 * individual node container
 */
.onelinecal-onelinecal div.calendar {
	background-color: #fff;
	border: solid 1px #ddd;
	text-align: left;
	/*margin: 0 .25em .25em 0;*/
	width: 100%;
	float: right;
	/* needed to keep IE from hiding the floating day number */
	clear: both;
}

.onelinecal-onelinecal div.title {
	font-size: .8em;
	text-align: center;
}

.onelinecal-onelinecal div.title a {
	color: #000;
}

.onelinecal-onelinecal div.title a:hover {
	color: #c00;
}

.onelinecal-onelinecal .content {
	clear: both;
	padding: 3px;
	padding-left: 5px;
}

.calendar div.form-item {
	white-space: normal;
}

/**
 * formatting for the legend stripe and block
 */
.onelinecal-onelinecal .stripe {
	height: 5px;
	width: auto;
	font-size: 1px !important;
	line-height: 1px !important;
}

table.calendar-legend {
	background-color: #ccc;
	width: 100%;
	margin: 0;
	padding: 0;
}

table.calendar-legend tr.odd .stripe,table.calendar-legend tr.even .stripe
	{
	height: 12px !important;
	font-size: 9px !important;
	line-height: 10px !important;
}

.calendar-legend td {
	text-align: left;
	padding-left: 5px;
}

.calendar-empty {
	font-size: 1px;
	line-height: 1px;
}

/**
 * the popup date selector for jumping to a new date
 */
.calendar-date-select form {
	text-align: right;
	float: right;
	width: 25%;
}

.calendar-date-select div,.calendar-date-select input,.calendar-date-select label
	{
	text-align: right;
	padding: 0;
	margin: 0;
	float: right;
	clear: both;
}

.calendar-date-select .description {
	float: right;
}

.calendar-label {
	font-weight: bold;
	display: block;
	clear: both;
}

.onelinecal-onelinecal div.date-nav {
	background-color: #ccc;
	color: #777;
	padding: 0.2em;
	width: auto;
	border: 1px solid #ccc;
}

.onelinecal-onelinecal div.date-nav a,.onelinecal-onelinecal div.date-nav h3
	{
	color: #777;
	text-decoration: none;
}

.onelinecal-onelinecal td.empty {
	background: #ccc;
	border-color: #ccc;
	color: #cc9;
}

.onelinecal-onelinecal table.mini td.empty {
	background: #fff;
	border-color: #fff;
}

.onelinecal-onelinecal td div.day {
	border: 1px solid #ccc;
	border-top: none;
	border-right: none;
	margin-bottom: 2px;
}

.onelinecal-onelinecal td .inner div,.onelinecal-onelinecal td .inner div a
	{
	background: #eee;
}

/**
 * Set small font size for all items in calendar div, themes can override this.
 * Use x-small instead of em to avoid multiplying effect in nested items.
 */
.onelinecal-onelinecal div.calendar {
	border: none;
	font-size: x-small;
}

.onelinecal-onelinecal td .inner div.calendar div,.onelinecal-onelinecal td .inner div.calendar div a
	{
	border: none;
	background: #ffc;
	padding: 0;
}

.onelinecal-onelinecal td .inner div.calendar div.calendar-more,.onelinecal-onelinecal td .inner div.calendar div.calendar-more a
	{
	color: #444;
	background: #fff;
	text-align: right;
}

.onelinecal-onelinecal td .inner .view-field,.onelinecal-onelinecal td .inner .view-field a
	{
	color: #444;
	font-weight: normal;
}

.onelinecal-onelinecal td span.date-display-single,.onelinecal-onelinecal td span.date-display-start,.onelinecal-onelinecal td span.date-display-end,.onelinecal-onelinecal td span.date-display-separator
	{
	font-weight: bold;
}

.onelinecal-onelinecal td .inner div.day a {
	color: #4b85ac;
}

.onelinecal-onelinecal tr td.today,.onelinecal-onelinecal tr.odd td.today,.onelinecal-onelinecal tr.even td.today
	{
	background-color: #C3D6E4;
}

.onelinecal-onelinecal td .inner div.calendar div div.view-data-node-data-field-date-field-date-value
	{
	
}

/**
 * The following are not used by default but are available for themes
 */
.onelinecal-onelinecal td.past {
	
}

.onelinecal-onelinecal td.future {
	
}

.onelinecal-onelinecal td.has-events {
	
}

.onelinecal-onelinecal td.has-no-events {
	
}

/**
 * Multi day styles
 */
.onelinecal-onelinecal tbody {
	border-top: none;
}

.onelinecal-onelinecal .month-view .full .inner {
	height: auto;
	min-height: auto;
}

.onelinecal-onelinecal .month-view .full .single-day .inner .view-item {
	float: left;
	width: 100%;
}

.onelinecal-onelinecal .month-view .full div.calendar {
	width: auto;
}

.onelinecal-onelinecal .month-view .full tr.date-box,.onelinecal-onelinecal .month-view .full tr.date-box td,.onelinecal-onelinecal .month-view .full tr.multi-day,.onelinecal-onelinecal .month-view .full tr.multi-day td
	{
	height: 19px;
	max-height: 19px;
}

.onelinecal-onelinecal .month-view .full tr.single-day .no-entry,.onelinecal-onelinecal .month-view .full tr.single-day .no-entry .inner
	{
	height: 44px !important;
	line-height: 44px;
}

.onelinecal-onelinecal .month-view .full tr.single-day .noentry-multi-day,.onelinecal-onelinecal .month-view .full tr.single-day .noentry-multi-day .inner
	{
	height: 22px !important;
	line-height: 22px;
}

.onelinecal-onelinecal .month-view .full td {
	vertical-align: top;
	/*padding: 1px 2px 0 2px;*/
	min-width: 27px;
}

.onelinecal-onelinecal .month-view .full td.date-box {
	height: 1%;
	border-bottom: 0px;
	padding-bottom: 2px;
}

.onelinecal-onelinecal .month-view .full .week {
	font-size: inherit;
}

.onelinecal-onelinecal .month-view .full .week a {
	color: #4b85ac;
}

.onelinecal-onelinecal .month-view .full td .inner div.day,.onelinecal-onelinecal .month-view .full td .inner div.day a
	{
	border: none;
	background: none;
	margin-bottom: 0px;
}

.onelinecal-onelinecal .month-view .full td.date-box .inner {
	min-height: inherit;
}

.onelinecal-onelinecal .month-view .full td.multi-day {
	border-top: 0px;
	border-bottom: 0px;
}

.onelinecal-onelinecal .month-view .full td.single-day {
	border-top: 0px;
}

.onelinecal-onelinecal .month-view .full td.multi-day .inner {
	min-height: inherit;
	width: auto;
	position: relative;
}

.onelinecal-onelinecal .month-view .full td.multi-day.no-entry {
	min-height: 0px;
}

.onelinecal-onelinecal .month-view .full td.single-day .calendar-empty,.onelinecal-onelinecal .month-view .full td.single-day.empty,.onelinecal-onelinecal .month-view .full td.date-box.empty
	{
	background: #F4F4F4;
}

.onelinecal-onelinecal .month-view .full td.single-day .inner div,.onelinecal-onelinecal .month-view .full td.single-day .inner div a,.onelinecal-onelinecal .month-view .full td.multi-day .inner div,.onelinecal-onelinecal .month-view .full td.multi-day .inner div a,.onelinecal-onelinecal .month-view .full td .inner div.calendar.monthview div,.onelinecal-onelinecal .month-view .full td .inner div.calendar.monthview div a
	{
	background: none;
}

.onelinecal-onelinecal .month-view .full tr td.today,.onelinecal-onelinecal .month-view .full tr.odd td.today,.onelinecal-onelinecal .month-view .full tr.even td.today
	{
	
}
/*
.onelinecal-onelinecal .month-view .full td.date-box.today {
	border-width: 2px 2px 0px 2px;
	border-style: solid;
	border-color: #7C7F12;
}

.onelinecal-onelinecal .month-view .full tr td.single-day.today {
	border-bottom: 2px solid #7C7F12;
}

.onelinecal-onelinecal .month-view .full tr td.multi-day.starts-today {
	border-left: 2px solid #7C7F12;
}

.onelinecal-onelinecal .month-view .full tr td.multi-day.ends-today {
	border-right: 2px solid #7C7F12;
}
*/
.onelinecal-onelinecal .month-view .full tr td.multi-day,.onelinecal-onelinecal .month-view .full tr td.single-day
	{
	border-top: 0px;
}

.onelinecal-onelinecal .month-view .full tr td.multi-day,.onelinecal-onelinecal .month-view .full tr td.date-box
	{
	border-bottom: 0px;
}

.onelinecal-onelinecal .month-view .full .inner .monthview {
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: auto;
	float: none;
	display: block;
	/*margin: .25em auto;*/
	position: relative;
}

.onelinecal-onelinecal .month-view .full td.single-day div.monthview {
	background: #ffc;
	width: auto;
	/*padding: 0px 3px;*/
	overflow: hidden;
}

.onelinecal-onelinecal .month-view .full td.single-day .calendar-more div.monthview
	{
	background: none;
}

.onelinecal-onelinecal .month-view .full td.multi-day div.monthview {
	background: #74a5d7;
	height: 1.9em;
	overflow: hidden;
	margin: 0px auto;
	color: #ffffff;
	position: relative;
}

.onelinecal-onelinecal .month-view .full td.multi-day .inner .view-field,.onelinecal-onelinecal .month-view .full td.multi-day .inner .view-field a
	{
	color: #ffffff;
}

.onelinecal-onelinecal .full td.multi-day .calendar .view-field,.onelinecal-onelinecal .full td.single-day .calendar .view-field
	{
	
}

.onelinecal-onelinecal .month-view .full td.multi-day .calendar.monthview .view-field
	{
	/*white-space: nowrap;*/
	float: left;
	margin-right: 3px;
}

.onelinecal-onelinecal .month-view .full td.multi-day .calendar.monthview .contents
	{
	position: absolute;
	/*width: 3000px;*/
	left: 5px;
}

.onelinecal-onelinecal .month-view .full td .stripe {
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 3px;
	z-index: 2;
}

.onelinecal-onelinecal .full td.single-day .continuation,.onelinecal-onelinecal .full td.single-day .continues,.onelinecal-onelinecal .full td.single-day .cutoff
	{
	display: none;
}

.onelinecal-onelinecal .month-view .full td.multi-day  .inner .monthview .continuation
	{
	float: left;
	margin-right: 3px;
	height: 1.9em;
}

.onelinecal-onelinecal .week-view .full td.multi-day  .inner .weekview .continuation
	{
	height: 2.75em;
	padding-top: 0.75em;
	margin-right: 8px;
}

.onelinecal-onelinecal .month-view .full td.multi-day .inner .monthview .continues,.onelinecal-onelinecal .month-view .full td.multi-day .inner .monthview .cutoff
	{
	position: absolute;
	right: 0px !important;
	right: -1px;
	width: 10px;
	text-align: left;
	background: #74a5d7;
	-moz-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
	height: 1.9em;
	padding-left: 6px;
	z-index: 1;
}

.onelinecal-onelinecal .week-view .full td.multi-day .inner .weekview .continues
	{
	height: 2.75em;
	padding-top: 0.75em;
}

.onelinecal-onelinecal .month-view .full td.multi-day .inner .monthview .cutoff
	{
	/*width: 8px;*/
	padding-left: 0px;
}

/**
 * Restyle Header
 */
.view .date-nav-wrapper .clear-block {
	margin-bottom: 10px;
}

.view .date-nav-wrapper {
	position: relative;
	margin-top: 5px;
	width: 100%;
}

.view .date-nav-wrapper .date-nav {
	background-color: transparent;
	border: 0px;
	height: 30px;
	height: auto;
	min-height: 30px;
	position: relative;
	margin-bottom: 10px;
}

.view .date-nav-wrapper .date-prev a,.view .date-nav-wrapper .date-next a
	{
	text-decoration: none;
	color: inherit;
	font-size: 12px;
}

.view .date-nav-wrapper.date-nav a:hover {
	text-decoration: underline;
}

.view .date-nav-wrapper .date-prev {
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	background: none repeat scroll 0 0 #dfdfdf;
	float: none;
	padding: 5px 0;
	position: absolute;
	right: 60px;
	left: auto;
	text-align: right;
	top: 0px;
	width: auto;
	z-index: 1;
	font-size: 12px;
}

.block-views .view .date-nav-wrapper .date-prev {
	left: 0;
	right: auto;
}

.view .date-nav-wrapper .date-prev a {
	margin-left: 10px;
	font-weight: bold;
}

.view .date-nav-wrapper .date-heading {
	position: relative;
	width: 100%;
	top: 0px;
	text-align: center;
	z-index: 0;
}

.view .date-nav-wrapper .date-heading h3 {
	line-height: 30px;
	font-size: 1.7em;
}

.view .date-nav-wrapper .date-next {
	-moz-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
	background: none repeat scroll 0 0 #dfdfdf;
	float: none;
	padding: 5px 0;
	position: absolute;
	right: 0px;
	text-align: right;
	top: 0px;
	width: auto;
	z-index: 1;
	font-size: 12px;
}

.view .date-nav-wrapper .date-next a {
	margin-right: 10px;
	font-weight: bold;
}

.attachment .onelinecal-onelinecal {
	margin-top: 20px;
	clear: both;
}
/*
.onelinecal-onelinecal th a,.attachment .onelinecal-onelinecal th {
	background-color: transparent;
	border: 0px;
}

.attachment .onelinecal-onelinecal th.calendar-agenda-hour {
	color: #777777;
	font-weight: bold;
	text-align: right;
}*/

.view-calendar .feed-icon {
	margin-top: 5px;
}

.view table.mini .date-prev,.view table.mini .date-next {
	background: none;
}

.date-nav div.date-prev,.date-nav div.date-next,.date-nav {
	width: auto;
}

ul.calendar-links,.region-content ul.calendar-links {
	margin: 0;
	padding: 0;
}

.year-view div.month-view div.date-nav {
	background-color: #DFDFDF;
	min-height: 20px;
}


/* Grouping enabled styles */
/*
.onelinecal-grouping th.days {
  white-space: nowrap;
}
*/
.onelinecal-onelinecal .onelinecal-groupcolumn {
  text-align: left;
  font-weight: bold;
  background-color: #DFDFDF;
  color: black;
}

.onelinecal-grouping {
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.onelinecal-grouping td {
  white-space: nowrap;
}

.onelinecal-grouping tr th {
	/*padding: 0px; */
}

/*
----------------------------------------------------------------------------------
----------------------------------------------------------------------------------
*/



